:root {
  --basic-slide-1                        : #9d8b84;
  --basic-slide-2                        : #8996a6;
  --basic-slide-3                        : #849d8f;
  --basic-white                          : #ffffff;
  --basic-underline                      : rgba(255, 255, 255, 0.2);
  --basic-light-white-background         : rgba(255, 255, 255, 0.2);
  --basic-black                          : #323232;
  --basic-navigation-current             : #d07058;
  --basic-navigation-active              : #EDEDED;
  --basic-catalog-hover                  : #FBDED7;
  --basic-catalog-active                 : #F6B5A5;
  --basic-link-hover                     : #FFBC9E;
  --basic-link-hover-underline           : rgba(255, 188, 158, 0.3);
  --basic-link-hover-background          : #E84D37;
  --basic-link-hover-background-underline: rgba(232, 77, 55, 0.3);
  --basic-rapsberry-background           : #9E1D3E;
  --basic-chocolate-background           : #4B2E1E;
  --basic-waffles-background             : #EADBC3;
  --basic-subscription-text              : #5A5A5A;
  --basic-subscription-background        : #F8F7F4;
  --basic-form-border                    : rgba(178, 178, 178, 0.52);
  --basic-adress-background              : #FEFEFE;
  --basic-unerline-catalog               : rgba(50, 50, 50, 0.2);
  --basic-form-border : #D3D3D2;
  --basic-table-border: #CACAC7
}

body {
  min-width       : 1166px;
  margin          : 0;
  padding         : 0;
  font-family     : 'Roboto', Arial, sans-serif;
  font-size       : 16px;
  line-height     : 22px;
  font-weight     : 400;
  color           : var(--basic-white);
  background-color: var(--basic-slide-1);
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--basic-slide-1);
  background-image: url("../img/slider-offer-1.png");
}

.site-wrapper-2 {
  background-color: var(--basic-slide-2);
  background-image: url("../img/slider-offer-2.png");
}

.site-wrapper-3 {
  background-color: var(--basic-slide-3);
  background-image: url("../img/slider-offer-2.png");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height   : auto;
}

.display-none {
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height        : 100%;
  display           : grid;
  grid-template-rows: min-content 1fr min-content;
  align-content     : start;
}

.visually-hidden {
  position: absolute;
  width   : 1px;
  height  : 1px;
  margin  : -1px;
  border  : 0;
  padding : 0;
  clip    : rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width  : 1146px;
  margin : 0 auto;
}



.main-navigation {
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
  padding-top    : 9px;
}

.main-logo {
  min-width: 154px;
  height   : 64px;

}

.site-navigation {
  display        : flex;
  justify-content: space-between;
  position       : relative;
  margin         : 0;
  padding        : 0;
  margin-left    : 11px;

  min-width  : 385px;
  list-style : none;
  font-size  : 16px;
  line-height: 18px;
  font-weight: 700;


}

.site-navigation a,
.user-navigation a,
.call a {
  font-size  : 16px;
  line-height: 18px;
  font-weight: 700;
  color      : var(--basic-white);
}



.site-navigation a {

  padding-top   : 8px;
  padding-right : 13px;
  padding-bottom: 8px;
  padding-left  : 13px;
  border-radius : 26px;
}

.site-navigation a:hover {
  text-decoration: none;
}

.user-navigation {
  position: relative;
  display        : flex;
  justify-content: flex-end;
  /*min-width      : 266px;*/
  margin-left    : auto;


}

.user-item > a {
  padding-top        : 8px;
  padding-right      : 16px;
  padding-bottom     : 8px;
  padding-left       : 44px;
  margin-left        : 10px;
  border-radius      : 20px;
  font-size          : 14px;
  line-height        : 16px;
  background-color   : var(--basic-light-white-background);
  background-position: 16px center;
  background-repeat  : no-repeat;
}

.search-item a {
  background-image   : url("../img/search-icon.svg");
  background-repeat  : no-repeat;
  background-position: center;
  padding-left       : 16px;
  border-radius      : 50%;
}

.search-item a:hover,
.search-item a:focus {
  background-image: url("../img/search-hover.svg");
}

.login-item a {
  background-image: url("../img/login-icon.svg");

}

.login-item a:hover,
.login-item a:hover {
  background-image: url("../img/login-hover.svg");

}

.cart-item > a {
  background-image: url("../img/cart.svg");

}

.cart-item > a:hover,
.cart-item > a:focus {
  background-image: url("../img/cart-hover.svg");

}

.cart-full a {
  color           : var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/cart-red.svg");

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color           : var(--basic-black);
  background-color: var(--basic-white);
  border          : none;
}

.site-navigation a:active {
  background-color: var(--basic-navigation-active);
  box-shadow      : inset 0px 2px 1px #696969;
}

.site-navigation .navigation-current {
  background-color: var(--basic-navigation-current);
  border          : none;
}

.catalog-list {
  overflow        : hidden;
  display         : none;
  list-style      : none;
  position        : absolute;
  min-width: 143px;
  margin          : 0;
  margin-left: -8px;
  padding         : 0;
  background-color: var(--basic-white);
  border-radius   : 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4)
}


.catalog-menu:hover .catalog-list {
  display: block;
  margin-top: 10px;
}


.catalog-list a {
  display    : block;
  font-size  : 14px;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  color      : var(--basic-black);

  border-radius: 0;

}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: var(--basic-catalog-hover);
}

.catalog-list a:active {
  background-color: var(--basic-catalog-active);
  box-shadow      : none;
}

.new-product a {
  line-height: 18px;
  font-weight: 700;
}

.new-product::after {
  content         : "";
  display         : block;
  width           : 128px;
  height          : 1px;
  margin          : 0 auto;
  background-color: var(--basic-unerline-catalog);

}


.search-block {
  display: none;
 position: absolute;
  background-color: var(--basic-subscription-background);
  color: var(--basic-black);
  margin-top: 10px;
  left: -230px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.search-block input {
  border: 1px solid var(--basic-form-border);
  height: 44px;
  min-width: 344px;
  border-radius: 4px;
  padding-left: 15px;
margin-top: 20px;
margin-right: 15px;
margin-bottom: 20px;
margin-left: 15px;
font-size: 14px;
  line-height: 18px;
  font-weight: 400;;
}

.search-item:hover .search-block {
  display: block;
}


.login-block {
  display: none;
  position: absolute;
  background-color: var(--basic-subscription-background);
  color: var(--basic-black);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;
  margin-top: 30px;
  right: 100px;
  width: 277px;
}



.login-block input {
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  border: 1px solid var(--basic-form-border);
  border-radius: 4px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.login-control a {
  color: var(--basic-black);
  font-size: 13px;
line-height: 15px;
font-weight: 400;
}

.login-block p {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.login-control {
  display: flex;
  justify-content: flex-start;
}

.login-block a {
  padding: 0;
  margin: 0;
}

.login-control p {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  padding: 0;
  margin-left: 20px;
}

.login-control .login-button {
  padding-top: 15px;
  padding-right: 26px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.login-item:hover .login-block {
  display: block;
  
}

.cart-block {
  display: none;
  width: 600px;
  position: absolute;
  right: 0;
  top: 30px;
  background-color: var(--basic-subscription-background);
  color: var(--basic-black);
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.cart-table {
  border-collapse: collapse;
}

.cart-table a {
  color: color: var(--basic-black);
  padding: 0;
  background-color: transparent;
}

.cart-table tr:last-child {
  border-top:  1px solid var(--basic-table-border);

}

.cart-block .button {
  margin-left: 20px;
}

.cart-item:hover .cart-block {
  display: block;
}

.call {
  margin-top : 0;
  width      : 100%;
  text-align : right;
  font-size  : 14px;
  line-height: 16px;
  font-weight: 700;
}

.call p {
  margin        : 0;
  padding       : 0;
  padding-bottom: 8px;
}

.call a {
  font-size  : 22px;
  line-height: 24px;
}

.call a:hover,
.call a:focus {
  color: var(--basic-link-hover);
}

.button {
  padding-top   : 12px;
  padding-left  : 16px;
  padding-bottom: 12px;
  padding-right : 16px;
  font-size     : 18px;
  line-height   : 24px;
  font-weight   : bold;
  color         : var(--basic-white);
  text-shadow   : 0px 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: center;
  background    : linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow    : 0px 2px 2px rgba(172, 16, 0, 0.64);
  border        : none;
  border-radius : 50px;
  text-align    : center;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
}

.button-slider {
  padding-top   : 10px;
  padding-left  : 40px;
  padding-bottom: 10px;
  padding-right : 40px;
  font-size     : 32px;
  line-height   : 44px;
}

.slider-list {
  margin    : 0;
  padding   : 0;
  list-style: none;
}

.slider-item {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  text-align    : center;

}


.slider-item h3 {
  margin     : 0;
  font-size  : 60px;
  line-height: 70px;
  font-weight: 700;
}

.slider-buttons-list {
  list-style: none;
}

.promo-columns {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  column-gap           : 26px;
  margin-bottom        : 40px;
}

.promo {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.raspberry-promo {
  width              : 560px;
  height             : 229px;
  background-color   : var(--basic-rapsberry-background);
  background-image   : url("../img/raspberry-bg.jpg");
  background-position: center left;
  background-repeat  : no-repeat;
  border-radius      : 16px;
}

.chocolate-promo {
  width              : 560px;
  height             : 229px;
  background-color   : var(--basic-chocolate-background);
  background-image   : url("../img/chocolate-bg.jpg");
  background-position: center;
  background-repeat  : no-repeat;
  border-radius      : 16px;

}

.promo h3 {
  margin     : 0;
  padding    : 0;
  margin-top : 16px;
  margin-left: 16px;

  font-size  : 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo p {
  margin      : 0;
  padding     : 0;
  margin-top  : 16px;
  margin-left : 16px;
  margin-right: 30px;
  ;
  font-size  : 18px;
  line-height: 22px;
  font-weight: 700;
}

.promo .button {
  margin-top   : auto;
  margin-right : 22px;
  margin-bottom: 22px;
  margin-left  : auto;
  padding-left: 22px;
  padding-right: 22px;
}
.creamy-icecream {
  width: 1172px;
  margin: 0 auto;
}

.creamy-icecream-list {
  padding: 0;
  margin: 0;
  display              : grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style           : none;
}

.creamy-icecream-item {
  position      : relative;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  padding-bottom: 20px;
}

.creamy-icecream-item:hover,
.creamy-icecream-item:focus {
  background-color: var(--basic-underline);
  box-shadow      : 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius   : 4px;
}

.creamy-icecream-item a {
  display       : flex;
  flex-direction: column;
  font-size     : 16px;
  line-height   : 22px;
  font-weight   : 500;
  color         : var(--basic-white);
}

.creamy-icecream-item img {
  order        : -1;
  border-radius: 50%;
}

.creamy-icecream-item h3 {
  width      : 260px;
  font-size: 16px;
line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 11px;
}

.creamy-icecream-item p {
  position   : absolute;
  left: 13px;
  top        : 165px;
  width      : 260px;
  font-size  : 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.creamy-icecream-item span {
  font-size  : 30px;
  line-height: 35px;
}



.icecream-hit:before {
  content : url("../img/hit.svg");
  position: absolute;
  left    : 13px;
}

.link {
  text-decoration      : underline;
  text-decoration-color: var(--basic-underline);
}

.link:hover,
.link:focus {
  color                : var(--basic-link-hover);
  text-decoration      : underline;
  text-decoration-color: var(--basic-link-hover-underline);
}

.link-background,
.link-background {
  color                : var(--basic-black);
  text-decoration      : underline;
  text-decoration-color: var(--basic-link-hover-background-underline);
}

.link-background:hover,
.link-background:focus {
  color                : var(--basic-link-hover-background);
  text-decoration      : underline;
  text-decoration-color: var(--basic-link-hover-background-underline);

}

.features {
  margin-bottom   : 40px;
  padding-top     : 24px;
  padding-left    : 20px;
  padding-right   : 27px;
  padding-bottom  : 19px;
  color           : var(--basic-black);
  background-color: var(--basic-waffles-background);
  background-image: url("../img/pattern-waffer.png");
  border-radius   : 16px;

}

.features-title {
  margin     : 0;
  padding    : 0;
  font-size  : 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  margin               : 0;
  padding              : 0;
  margin-top           : 7px;
  display              : grid;
  grid-template-columns: 1fr 1fr;
  list-style           : none;
}


.features-item {
  flex-grow     : 1;
  width         : 484px;
  margin        : 0;
  padding-top   : 11px;
  padding-left  : 55px;
  margin-right  : 26px;
  padding-bottom: 10px;
  font-size     : 16px;
  line-height   : 22px;
  font-size     : 500;
}

.features-item:first-child {
  background-image : url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(2) {
  background-image : url("../img/cow.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(3) {
  background-image : url("../img/eco.svg");
  background-repeat: no-repeat;
}

.features-item:last-child {
  background-image : url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.blog {
  color              : var(--basic-black);
  width              : 560px;
  background-color   : var(--basic-white);
  background-image   : url("../img/strawberry-bg.jpg");
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;
  border-radius      : 16px;
}

.blog h2 {
  margin-top   : 23px;
  margin-left  : 20px;
  margin-bottom: 15px;
  font-size    : 16px;
  line-height  : 22px;
  font-weight  : 500;
}

.blog a {
  display    : block;
  margin-left: 20px;
  width      : 287px;
  font-size  : 24px;
  line-height: 30px;
  color      : var(--basic-black);
}

.subscription {
  display: flex;

  background-color   : var(--basic-white);
  background-image   : url("../img/bg-post.svg");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  border-radius      : 16px;
  padding            : 6px;



}

.subscription-block {
  margin: auto;
  width : 548px;

  color           : var(--basic-subscription-text);
  background-color: var(--basic-subscription-background);
  border-radius   : 16px;
}

.subscription-block p {
  width      : 512px;
  margin     : 0;
  margin-top : 29px;
  margin-left: 20px;
  padding    : 0;
}

.subscription-block input {
  width        : 368px;
  height       : 44px;
  margin-top   : 47px;
  margin-left  : 20px;
  padding-left : 14px;
  margin-right : 10px;
  margin-bottom: 35px;
  border-radius: 6px;
  border       : 1px solid var(--basic-form-border);

}

.map .container {
  display: flex;

}


.map {
  width              : 1200px;
  background-color   : var(--basic-waffles-background);
  background-image   : url("../img/map.png");
  background-position: center;
  background-repeat  : no-repeat;
  margin-left        : auto;
  margin-right       : auto;



}

.adress {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;

  background-color: var(--basic-adress-background);
  color           : var(--basic-black);
  border-radius   : 16px;
  margin          : auto;
  margin-right    : 0;
  padding-left    : 25px;
  padding-right   : 45px;
  margin-top      : 62px;
  margin-bottom   : 62px;
  padding-top     : 11px;
}




.adress p {

  margin     : 0;
  padding    : 0;
  width      : 225px;
  margin-top : 20px;
  font-size  : 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress span {
  font-size  : 18px;
  line-height: 24px;
  font-weight: 700;
}

.adress .phone {
  font-size  : 18px;
  line-height: 24px;
  font-weight: 700;
}

.adress .link-background {
  text-decoration: none;
}

.adress a {

  margin-top   : 30px;
  margin-bottom: 31px;
  align-self   : center;

}



.page-title {
  font-size  : 35px;
  line-height: 41px;
  font-weight: 700;
}

.bread-crumbs {
  display        : flex;
  justify-content: flex-start;
  min-width      : 224px;
  padding        : 0;
  margin         : 0;
  list-style     : none;
}



.bread-crumbs a {
  padding-right: 14px;
  color        : var(--basic-white);
  font-size    : 14px;
  line-height  : 16px;
  padding-left : 0;
}


.bread-crumbs li:not(:last-child) {
  background-image   : url("../img/bread-crumbs-arrow.svg");
  background-repeat  : no-repeat;
  background-position: right center;
  margin-right: 10px;
}

.filter {
  font-size  : 14px;
  line-height: 16px;

}

.filter form {
  display    : flex;
  flex-wrap  : wrap;
  align-items: flex-start;


}

.filter p {
  margin : 0;
  padding: 0;
}

.sorting-block {
  width: 196px;
}

.price-block {
  width: 218px;

}


.fats-block {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}


.filter ul {
  list-style      : none;
  background-color: var(--basic-underline);
  border-radius   : 20px;
}

.filter select {
  color           : var(--basic-white);
  font-size       : 16px;
  line-height     : 18px;
  background-color: var(--basic-underline);

}

.fat-level-list,
.topping-list {
  display    : flex;
  padding    : 0;
  margin     : 0;
  font-size  : 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-filter {
  color           : var(--basic-white);
  font-size       : 16px;
  line-height     : 18px;
  font-weight     : 500;
  background-color: var(--basic-underline);
  border          : 2px solid var(--basic-white);
  border-radius   : 20px;
}

.button-filter:hover,
.button-filter:focus {
  color           : var(--basic-black);
  background-color: var(--basic-white);
}

.button-filter:active {
  box-shadow: inset 0px 2px 1px #696969;
}

.pagination-list {
  display        : flex;
  justify-content: space-between;
  width          : 194px;
  margin         : 0;
  margin-left    : auto;
  padding        : 0;
  list-style     : none;

  margin-bottom: 30px;
}

.pagination-block {
  border-bottom: 1px solid var(--basic-underline);
}

.pagination-item a {
  color  : var(--basic-white);
  padding: 10px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color              : var(--basic-black);
  background-image   : url("../img/pagination-hover.svg");
  background-repeat  : no-repeat;
  background-position: center;
}

.pagination-item a:active {
  color           : var(--basic-black);
  background-image: url("../img/pagination-current.svg");
}

.pagination-item-current {

  color              : var(--basic-black);
  background-image   : url("../img/pagination-current.svg");
  background-repeat  : no-repeat;
  background-position: center;
  padding            : 10px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-image: url("../img/paggination-hover.svg");

}


.main-footer .container {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
   padding-top: 18px;
}

.main-footer a {
  color: var(--basic-white);
}

.social-list {
  display    : flex;
  flex-wrap  : wrap;
  list-style : none;
  padding    : 0;
  margin     : 0;
  line-height: 0;
}


.social-list a {
  display      : block;
  padding      : 0;
  margin       : 0;
  margin-right : 8px;
  border       : 2px solid var(--basic-light-white-background);
  border-radius: 50%;
}

.social-facebook::before {
  content: url("../img/fb.svg");
  opacity: 0.6;
}

.social-facebook:hover::before {
  opacity: 1;
}

.social-vk::before {
  content: url("../img/vk.svg");
  opacity: 0.6;
}

.social-vk:hover::before {
  opacity: 1;
}

.social-instagram::before {
  content: url("../img/instagram.svg");
  opacity: 0.6;
}

.social-instagram:hover::before {
  opacity: 1;
}

.social-twitter::before {
  content: url("../img/twitter.svg");
  opacity: 0.6;
}

.social-twitter:hover::before {
  opacity: 1;
}

.documents-list {
  display        : flex;
  
  flex-wrap: wrap;
  

  min-width          : 355px;
  list-style     : none;
  padding        : 0;
  margin         : 0;
  padding-top: 8px;
  padding-left: 190px;
}

.documents-list li {
  padding: 0;
  margin : 0;
  width: 50%;
}


.documents-list li:nth-child(2n+1) {

  width: 30%;
}


.documents-list a {
  font-size  : 13px;
  line-height: 18px;
}

.main-document {
  font-weight      : 700;
  position: relative;
}

.main-document::before {
  content: url("../img/heart.svg");
  position: absolute;
  top: 0;
  left: -20px;
}

.main-document:hover::before {
  content: url("../img/heart-hover.svg");
}




.document-list a {
  font-size  : 13px;
  line-height: 18px;
}

.develop {
  width      : 190px;
  font-size  : 12px;
  line-height: 18px;
}

.develop p {
  margin : 0;
  padding: 0;
  font-size: 12px;
line-height: 18px;
font-weight: 400;
}


.red {
  outline       : 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}