:root {
  --basic-slide-1               : #9d8b84;
  --basic-slide-2               : #8996a6;
  --basic-slide-3               : #849d8f;
  --basic-white                 : #ffffff;
  --basic-underline: rgba(255, 255, 255, 0.2);
  --basic-light-white-background: rgba(255, 255, 255, 0.2);
  --basic-black                 : #323232;
  --basic-navigation-current    : #d07058;
  --basic-navigation-active: #EDEDED;
  --basic-catalog-hover: #FBDED7;
  --basic-catalog-active: #F6B5A5;
  --basic-link-hover            : #FFBC9E;
  --basic-link-hover-underline: rgba(255, 188, 158, 0.3);
  --basic-link-hover-background: #E84D37;
  --basic-link-hover-background-underline: rgba(232, 77, 55, 0.3);
  --basic-rapsberry-background  : #9E1D3E;
  --basic-chocolate-background  : #4B2E1E;
  --basic-waffles-background: #EADBC3;
  --basic-subscription-text: #5A5A5A;
  --basic-subscription-background: #F8F7F4;
  --basic-form-border: rgba(178, 178, 178, 0.52);
  --basic-adress-background: #FEFEFE;
}

body {
  min-width       : 1166px;
  margin          : 0;
  padding         : 0;
  font-family     : 'Roboto', Arial, sans-serif;
  font-size       : 16px;
  line-height     : 22px;
  color           : var(--basic-white);
  background-color: var(--basic-slide-1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height   : auto;
}

.display-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width   : 1px;
  height  : 1px;
  margin  : -1px;
  border  : 0;
  padding : 0;
  clip    : rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  list-style : none;
  font-size  : 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a,
.user-navigation a,
.call a {
  color: var(--basic-white);
}


.site-navigation a {
  border-bottom: 1px solid var(--basic-underline);
}

.user-navigation a {
  font-size       : 14px;
  line-height     : 16px;
  background-color: var(--basic-light-white-background);
}

.search-item a {
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

.login-item a {
  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

.cart-item a {
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color           : var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}

.site-navigation a:active {
  background-color: var(--basic-navigation-active);
  box-shadow: inset 0px 2px 1px #696969;
}

.site-navigation .navigation-current  {
  background-color: var(--basic-navigation-current);
  border: none;
}

.catalog-list {
  list-style: none;
}

.catalog-list a {
  font-size: 14px;
  line-height: 16px;
  border: none;
}

.catalog-list a:hover,
.catalog-list a:focus {
 background-color: var(--basic-catalog-hover);
}

.catalog-list a:active {
  background-color: var(--basic-catalog-active);
  box-shadow: none;
 }

 .new-product a {
   line-height: 18px;
   font-weight: 700;
   border-bottom: 1px solid var(--basic-underline);
 }

 
.call {
  font-size  : 14px;
  line-height: 16px;
  font-weight: 700;
}

.call a {
  font-size  : 22px;
  line-height: 24px;
}

.call a:hover,
.call a:focus {
  color: var(--basic-link-hover);
}

.button {
  font-size     : 18px;
  line-height   : 24px;
  font-weight   : bold;
  color         : var(--basic-white);
  text-shadow   : 0px 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: center;
  background    : linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow    : 0px 2px 2px rgba(172, 16, 0, 0.64);
  border        : none;
  border-radius : 50px;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.button-slider {
  font-size  : 32px;
  line-height: 44px;
}

.slider-list {
  list-style: none;
}

.slider-item {
  text-align: center;
}

.slider-item h3 {
  font-size  : 60px;
  line-height: 70px;
  font-weight: 700;
}

.slider-buttons-list {
  list-style: none;
}

.raspberry-promo {
  background-color: var(--basic-rapsberry-background);
  background-image: url("../img/raspberry-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.chocolate-promo {
  background-color: var(--basic-chocolate-background);
  background-image: url("../img/chocolate-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;

}

.promo h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.creamy-icecream-list {
  list-style: none;
}

.creamy-icecream-item:hover,
.creamy-icecream-item:focus {
  background-color: var(--basic-underline);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.creamy-icecream-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);
}

.creamy-icecream-item img {
  border-radius: 50%;
}

.creamy-icecream-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.creamy-icecream-item span {
  font-size: 30px;
  line-height: 35px;
}

.icecream-hit:before {
  content: url("../img/hit.svg")
}

.link {
  text-decoration: underline var(--basic-underline);
}

.link:hover,
 .link:focus {
  color: var(--basic-link-hover);
  text-decoration: underline;
}

.link-background,
.link-background {
  color: var(--basic-black);
  text-decoration: underline;
}

.link-background:hover,
.link-background:focus {
  color: var(--basic-link-hover-background);
  text-decoration: underline var(--basic-link-hover-background-underline);

}

.features {
  color: var(--basic-black);
  background-color: var(--basic-waffles-background);
  background-image: url("../img/pattern-waffer.png");
  background-position: center;
  border-radius: 16px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-item p{
  font-size: 16px;
  line-height: 22px;
}

.blog {
  color: var(--basic-black);
  width: 560px;
  height: 220px;
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: 
}

.subscription {
  width: 560px;
  height: 220px;
  background-color: var(--basic-white);
  background-image: url("../img/bg-post.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;

}

.subscription-block {
  width: 548px;
  height: 210px;
  color: var(--basic-subscription-text);
  background-color: var(--basic-subscription-background);
  border-radius: 16px;
}

.subscription-block input {
  border-radius: 6px;
  border: 1px solid var(--basic-form-border);
  
}

.map {
  background-color: var(--basic-waffles-background);
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
}

.adress {
  width: 303px;
  height: 306px;
  background-color: var(--basic-adress-background);
  color: var(--basic-black);
  border-radius: 16px;
}

.adress p {
  font-size: 14px;
  line-height: 20px;
}

.adress span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.adress .link-background {
  text-decoration: none;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.bread-crumbs {
  list-style: none;
}

.bread-crumbs a {
  color: var(--basic-white);
 font-size: 14px;
 line-height: 16px;
}
.filter {
  font-size: 14px;
  line-height: 16px;

}
.filter ul {
  list-style: none;
  background-color: var(--basic-underline);
  border-radius: 20px;
}

.filter select {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-underline);
  
}

.fat-level-list,
.topping-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button-filter {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-underline);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button-filter:active {
  box-shadow: inset 0px 2px 1px #696969;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-white);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-underline);
}

.pagination-item a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-item-current a {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


.main-footer a{
  color: var(--basic-white);
}

.social-list {
  list-style: none;
}

.social-facebook:before {
  content: url("../img/fb.svg");
}

.social-vk:before {
  content: url("../img/vk.svg");
}

.social-instagram:before {
  content: url("../img/instagram.svg");
}

.social-twitter:before {
  content: url("../img/twitter.svg");
}

.documents-list {
  list-style: none;
}

.main-document {
  font-weight: 700;
}

.main-document:before {
  content: url("../img/heart.svg");
}

.document-list a {
  font-size: 13px;
  line-height: 18px;
}


.red {
  outline       : 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}