:root {
    --basic-slide-1: #9D8B84;
    --basic-slide-2: #8996A6;
    --basic-slide-3: #849D8F;
    --basic-current: #D07058;
    --basic-current-item-hover: #FBDED7;
    --basic-current-item-active: #F6B5A5;
    --basic-white: #ffffff;
    --basic-white-underline: rgba(255, 255, 255, 0.2);
    --basic-dark: #323232;
    --basic-gray: #5A5A5A;
    --basic-light-gray: #ABABAB;
    --basic-site-navigation-active :#EDEDED;
    --basic-subscription: #F8F7F4;
    --basic-slide-1: #9D8B84;
    --basic-features: #EFD4AB;
    --basic-link-hover: #FFBC9E;
    --basic-link-hover-fon: #E84D37;
    --basic-link-hover-underline: rgba(255, 188, 158, 0.3);;

}

body {
    min-width: 1166px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-slide-1);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.display-none {
    display: none;

}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    background-color: transparent;
}

.main-header a {
    color: var(--basic-white);
}

.site-navigation {
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0;

}

.categories {
    list-style: none;
    
}

.site-navigation > li > a {
    border-bottom: 1px var(--basic-white-underline) solid;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
    background-color: var(--basic-current);
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 11px;
    padding-left: 14px;
    border-radius: 26px;
}

.site-navigation > li > a:active {
    background-color: var(--basic-site-navigation-active);
    box-shadow: inset 0px 2px 1px #696969;
    color: var(--basic-dark);

}

.site-navigation li .current-navigation {
    background-color: var(--basic-current);
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 11px;
    padding-left: 14px;
    border-radius: 26px;

    


}

.categories {
    background-color: var(--basic-white);
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

.categories li {
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-dark);
   
    padding-top: 13px;
    padding-left: 21px;
    padding-bottom: 15px;
    
}

.categories li:first-child {
    border-bottom: 1px solid var(--basic-dark);
}

.categories a {
    color: var(--basic-dark);
}

.categories li:hover,
.categories li:focus {
    background-color: var(--basic-current-item-hover);
}

.categories li:active {
    background-color: var(--basic-current-item-active)
}
.categories li:hover:first-child,
.categories li:focus:first-child {
    border-radius: 4px 4px 0 0;
}

.categories li:hover:last-child,
.categories li:focus:last-child {
    border-radius: 0 0 4px 4px;
}

.new-product  a{
    line-height: 18px;
    font-weight: bold;
}

.current-categories {
    background-color: var(--basic-current)
}

.user-navigation {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500px;
    
}

.users-item > a {
    background-color: var(--basic-white-underline);
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    border-radius: 20px;
}

.users-item > a:hover,
.users-item > a:focus {
    color: var(--basic-dark);
    background-color: var(--basic-white);
}

.search-item a::before {
    content: url("../img/search-icon.svg");
    
}

.login-item a::before {
    content: url("../img/login-icon.svg");
   
}

.cart-item a::before {
    content: url("../img/cart.svg");
}

.cart-item-full a::before {
    content: url("../img/cart-red.svg");
}

.call {
    font-size: 14px;
    line-height: 16px;
}

.call a {
    font-size: 22px;
    line-height: 24px;
    color: var(--basic-white);
}

.features {
   background: var(--basic-features);
   background-image: url("/img/pattern-vaffer.png");
   color: var(--basic-dark);
   border-radius: 16px;
}

.features-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500px;
}

.features li{
    list-style: none;
    font-size: 16px;
    line-height: 22px;
}

.features li:first-child::before {
    content: url("../img/ice-cream.svg");
}

.features li:nth-child(2):before {
    content: url("../img/cow.svg");
}

.features li:nth-child(3)::before {
    content: url("../img/eco.svg");
}

.features li:last-child::before {
    content: url("../img/thermometer.svg");
}

.blog {
    background-color: var(--basic-white);
    background-image: url("/img/strawberry-bg.jpg");
    background-repeat: no-repeat;
    color: var(--basic-dark);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 16px;
}

.blog h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.blog a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: var(--basic-dark);
}

.subscription {
    background-color: var(--basic-subscription);
    background-image: url("/img/bg-post.svg");
    border-radius: 16px;
    padding: 6px;
    padding-top: 1px;

}

.subscription-form {
    background-color: var(--basic-subscription);
    border-radius: 16px;
    
}

.subscription p {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-gray);
}

.button-click {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: var(--basic-white);
    padding-top: 14px;
    padding-right: 19px;
    padding-bottom: 13px;
    padding-left: 19px;
    border: none;
    border-radius: 50px;
}

.button-click:hover,
.button-click:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
}

.button-click:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.bread-crumbs {
    list-style: none;
    padding: 0;
}

.bread-crumbs a {
    color: var(--basic-white)
}

.bread-crumbs li:not(:last-child) a:after {
    content: url("/img/bread-crumbs-arrow.svg")
}

.creamy-icecream-list li {
    list-style: none;
}

.creamy-icecream-list li:hover {
    background-color: var(--basic-white-underline);
}

.creamy-icecream-list a {
color: var(--basic-white);
}

.creamy-icecream h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid var(--basic-white-underline)
}

.creamy-icecream img {
    border-radius: 50%;
}

.creamy-icecream p {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.creamy-icecream span {
    font-size: 30px;
    line-height: 35px;
}


.main-footer:not(.index-footer) {
    border-top: 1px solid var(--basic-white-underline)
}

.main-footer a:not(.html-academy-logo) {
    color: var(--basic-white);
    border-bottom: 1px var(--basic-white-underline) solid; 
    
}

.main-footer a:hover,
.main-footer a:focus {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover-underline);

}

.social-list{
    list-style: none;
    padding: 0;
}

.social-link a {
    border: none;
}
.social-facebook a:before {
    content: url("/img/fb.svg")
}

.social-vk a:before {
    content: url("/img/vk.svg")
}

.social-instagram a:before {
    content: url("/img/instagram.svg")
}

.social-twitter a:before {
    content: url("/img/twitter.svg")
}
.documents-list {
    list-style: none;
    font-size: 13px;
    line-height: 18px;
    padding: 0;

}



.documents-list li:first-child {
    font-weight: bold;
}

.documents-list li:first-child::before {
    content: url("/img/heart.svg")
}